/* shared code */

body {
  margin: 0px;
  background-image: url("img/BodyS.gif");
  background-repeat: repeat;
}

/* header */
.container-1 {
  display: flex;
  justify-content: space-between;
}
.container-1 div {
  /*  border: 1px #ccc solid; */
  padding: 10px;
  padding-right: 25px;
  padding-left: 25px;
}
.push {
  margin-left: auto;
}
.nav {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/* content homepage */

.container-2 div {
  /*  border: 1px #ccc solid; */
  padding: 20px;
}
.container-2 {
  /* border: 1px #ccc solid; */
  display: flex;
  justify-content: center;
  align-content: center;
  flex: 1;
  flex-wrap: wrap;
}
.container-2-box {
  min-width: 260px;
  max-width: 260px;
}

.fillspace {
  height: 85vh;
  padding: 10px;
  display: flex;
}

.centers {

  margin:auto;
}

/* @media (max-width: 650px) and (min-width: 400px){
  .fillspace {
    display:inline;
  }
} */



.break {
  flex-basis: 100%;
  height: 0px;
}

.icon {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20;
}

h3 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

h4 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 30px;
  margin: 2px;
}

h5 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 44px;
  margin-bottom: 2px;
  text-align: center;
}

/* for the index/home */

body {
  background-color: #4643f0;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.bodyimage {
  width: 100%;
  max-width: 350px;
  transform: rotate(3deg);
  /* border-radius:5px; */
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* for the shop */

.shop {
  background-color: rgb(26, 26, 26);
  background-image: none;
}

.shop01 {
  text-align: left;
  background-color: red;
  padding: 5px;
  margin: 3px;
  font-weight: 500;
}

.shopimage {
  width: 100%;
  min-width: auto;
  max-width: 600px;
  min-height: auto;
  background-color: white;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
  /* border-radius:5px; */
}

.shopimage:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px);
    transform: rotate(2deg);
  }
  10% {
    transform: translate(-1px, -2px);
    transform: rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px);
    transform: rotate(2deg);
  }
  30% {
    transform: translate(3px, 2px);
    transform: rotate(-1deg);
  }
  40% {
    transform: translate(1px, -1px);
    transform: rotate(2deg);
  }
  50% {
    transform: translate(-1px, 2px);
    transform: rotate(-2deg);
  }
  60% {
    transform: translate(-3px, 1px);
    transform: rotate(2deg);
  }
  70% {
    transform: translate(3px, 1px);
    transform: rotate(2deg);
  }
  80% {
    transform: translate(-1px, -1px);
    transform: rotate(-1deg);
  }
  90% {
    transform: translate(1px, 2px);
    transform: rotate(2deg);
  }
  100% {
    transform: translate(1px, -2px);
    transform: rotate(-1deg);
  }
}

/* for the blog */

.blog-text {
  min-width: auto;
  max-width: 500px;
}

.blog-image {
  width: 100%;
  max-width: 500px;
}

.video-responsive {
  position: relative;
  width: 90%;
  padding-bottom: 56.25%;
  height: 300px;
}
.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 300px;
}

.date {
  font-weight:500;
  font-size:12px;
}

.post {
  background: #1d1211;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
}
