.container-1 {
  display: flex;
  justify-content: space-between;
}
.container-2 {
  display: flex;
  justify-content: center;
  align-content: center;
  flex: 1;
  /* border: 1px #ccc solid; */
  flex-wrap: wrap;
}
.container-1 div,
.container-2 div {
/*  border: 1px #ccc solid; */
  padding: 5px;
  padding-right: 35px;
  padding-left: 20px;
}
.fillspace {
  display: flex ;
  min-height: 80%;
  padding: 10px;
}
.container-2-box {
  min-width: 260px;
  max-width: 260px;
}
.bodyimage,
.bodyimage-print,
.bodyimage-sticker,
.bodyimage-book{
  width: 100%;
  min-width: auto;
  max-width: 350px;
  min-height: auto;
  border-radius:5px;
}
.bodyimage{transform: rotate(10deg); margin-top:10px;  
}
.bodyimage-sticker{transform: rotate(10deg); 
}
.bodyimage-book{transform: rotate(-5deg); 
}
.bodyimage-print{transform: rotate(5deg); 
}
.bodyimage-sticker:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.bodyimage-book:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px)  }
  10% { transform: translate(-1px, -2px)  }
  20% { transform: translate(-3px, 0px)  }
  30% { transform: translate(3px, 2px)  }
  40% { transform: translate(1px, -1px)  }
  50% { transform: translate(-1px, 2px) }
  60% { transform: translate(-3px, 1px)  }
  70% { transform: translate(3px, 1px) }
  80% { transform: translate(-1px, -1px)  }
  90% { transform: translate(1px, 2px)  }
  100% { transform: translate(1px, -2px)  }
}
h3 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
h4 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 44px;
  margin-bottom:2px;
}
h5 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 44px;
  margin-bottom:2px;
  text-align:center;
}
p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20;
}
.shop02{
  transform: rotate(3deg);
  text-align:center;
}
.shop01{
  transform: rotate(-3deg);
  text-align:center;
}
.icon {
  width: 24px;
  padding-right: 10px;
}
a {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20;
}
a:hover {
  text-decoration: none;
}
.nav{
  text-decoration: none;
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #4643f0;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.shop{
  background-color: #ff303e;
}

.break {
  flex-basis: 100%;
  height: 0;
}