/* shared code */

body {
  margin: 0px;
  background-image: url("img/Back01.gif");
  background-repeat: repeat;
  background-color: #4643f0;
  /* overflow-x: hidden; Hide horizontal scrollbar */
}

/* header */
.container-1 {
  display: flex;
  justify-content: space-between;
}
.container-1 div {
  /*  border: 1px #ccc solid; */
  padding: 10px;
  padding-right: 25px;
  padding-left: 25px;
}

.push {
  margin-left: auto;
}

.nav {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
a {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/* content homepage */

.container-2 {
  /* border: 1px #ccc solid; */
  display: flex;
  justify-content: center;
  align-content: center;
  flex: 1;
  flex-wrap: wrap;
}
.container-2-box {
  min-width: 260px;
  max-width: 260px;
  padding: 20px;
}

.container-3 {
  display: flex;
  justify-content: center;
  align-content: center;
  flex: 1;
  flex-wrap: wrap;
}

.container-3-box {
  min-width: 260px;
  max-width: 650px;
  padding: 20px;
}

.fillspace {
  height: 600px;
  width:100%;
  display: flex;
}

.centers {
  margin: auto;
}

.spacer {
  height:30px;
  width:100%;
  align-content: center;
}

@media (max-width: 650px) and (min-width: 0px) {
  .container-2 {
    align-content: initial;
  }
  .container-3 {
    align-content: initial;
  }
}

@media (max-height: 650px) and (min-height: 0px) {
  .container-2 {
    align-content: initial;
  }
  .container-3 {
    align-content: initial;
  }
}

.break {
  flex-basis: 100%;
  height: 1px;
}

.icon {
  width: 50px;
  height: 50px;
  padding-right: 10px;
}

.icon:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.5em;
  font-size: 20;
}

h3 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

h4 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin: 2px;
}

h5 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 44px;
  margin-bottom: 2px;
  text-align: center;
}

/* for the index/home */

.bodyimage {
  width: 100%;
  max-width: 350px;
  transform: rotate(3deg);
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px);
    transform: rotate(2deg);
  }
  10% {
    transform: translate(-1px, -2px);
    transform: rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px);
    transform: rotate(2deg);
  }
  30% {
    transform: translate(3px, 2px);
    transform: rotate(-1deg);
  }
  40% {
    transform: translate(1px, -1px);
    transform: rotate(2deg);
  }
  50% {
    transform: translate(-1px, 2px);
    transform: rotate(-2deg);
  }
  60% {
    transform: translate(-3px, 1px);
    transform: rotate(2deg);
  }
  70% {
    transform: translate(3px, 1px);
    transform: rotate(2deg);
  }
  80% {
    transform: translate(-1px, -1px);
    transform: rotate(-1deg);
  }
  90% {
    transform: translate(1px, 2px);
    transform: rotate(2deg);
  }
  100% {
    transform: translate(1px, -2px);
    transform: rotate(-1deg);
  }
}

/* for the blog */

.blog-text {
  min-width: auto;
  max-width: 725px;
}

.blog-image {
  width: 100%;
  max-width: 725px;
}

li {
  color: white;
  min-width: auto;
  max-width: 625px;
}

.date {
  font-weight: 500;
  font-size: 12px;
}

.post {
  padding: 8px;
}

/* for links page */

.links {
  background-color: #4e1392;
  padding: 2px;

  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.links:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.blog-image:hover {
  box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.473);
}
